@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



body {
    background-color: #0f0f0f;
}


/*-------------------------------------------- HEADER ----------------------------------------------------------*/
a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: #0f0f0f;
    padding-inline: 16px;
}

.nav {
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: orangered;
    font-size: 40px;
}

.logo:hover {
    color: white;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    color: orangered;
    font-size: 18px;
    padding-block: 16px;

}

.nav-list a:hover {
    color: white;
}


.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

/*-------------------------------------- MAIN -------------------------------------------*/
main {
    margin: auto;
    background-color: #0f0f0f;
}


/*-------------------------------------- FOOTER ----------------------------------------*/
footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color:orangered;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;

}

.footerNav ul li a:hover{
    color: white;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}



/*------------------------------------------ HOME -------------------------------------------------------------------------*/
.parallax-warcraft{
    background-image: url(../img/warcraft.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 400px;
}

.parallax-text {
    width: 300px;
    height: 380px;
    text-align: justify;
    color: white;
    background-color: #0f0f0fb6;
    padding: 10px;
    font-size: 0.8em;
}

.parallax-text > h2 {
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.parallax-text > p {
    font-family: Arial, Helvetica, sans-serif;
}

.p-disp {
    color: rgba(255, 255, 255, 0.548);
}

#compra-botao a {
    text-decoration: none;
    display: block;
    color: white;
    z-index: 0;
}

#compra-botao a:hover {
    color: orangered;
}

#compra-botao {
    margin-top: 20px;
    padding: 6px;
    width: 280px;
    text-align: center;
    background-color: #0f0f0f;
}


/*----------------Article 2---------------*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
}

.home-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.301);
}

.text-itensL {
    color: white;
    font-size: 1.3em;
}

.text-itensA  a{
    padding: 8px;
    text-decoration: none;
    font-size: 1.3em;
    color: orangered;
}

.text-itensA a:hover {
    color: white;
}



/*--------------Article 3------------*/
.title-iforma {
    margin-top: 10px;
    text-align: center;
    color: white;
    padding: 15px;
}

.text-informa {
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
}

.link-informa a{
    display: flex;
    justify-content: center;
    color: orangered;
    padding: 15px;
}

.link-informa a:hover {
    color: white;
}


/*-------------iframe principal Home-------------*/
.div-iframe {
    background-color: black;
}

.div-iframe > iframe {
    width: 100%;
}







/*-------------------------------------------------- SOMENTE PAG COMPRA -------------------------------------------------------*/

/*---------------IFRAMES COMPRA------------------------*/
iframe {
    width: 100%;
    height:400px;
}


/*introdução Pág Compra*/
.main-geralframe {
    padding-top: 23px;
}

.section-cat {
    border-left: 1px solid white;
}

.container-cat {
    margin: auto;
    color: white;
}

.container-cat > h1 {
    padding: 5px;
    font-size: 1.7em;
    color: orangered;
}

.container-cat > p {
    padding: 5px;
    text-align: justify;
}

.subtitle {
    padding: 5px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.658);
}


/*Nav do iframe da pág Compra*/
.article-compra {
    color: white;
    text-align: center;
}

.title1-compra {
    font-size: 2em;
}

.nav-iframe {
    margin-top: 10px;
    background-color: orangered;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav-iframe > a {
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: #0F0F0F;
    text-decoration: none;
    margin: 10px;
}

/*Iframes compra css*/
.section-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.article-basic {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 5px;
    color: white;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.div-textCompra {
    display: block;
    text-align: center;
}

.titlecard-frame01 {
    font-size: 1.3em;
    text-transform: uppercase;
}

.title-cardpreço {
    color: orangered;
}

.div-preço {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.lista-frame {
    list-style-position: inside;
}

.article-basic:hover {
    background-color: rgba(255, 255, 255, 0.137);
}

.iframegeral {
    background-color: #0F0F0F;
}



/*------------------------------------------------ SOMENTE PAG CATÁLOGO --------------------------*/
.catalogo-films {
    margin-top: 30px;
}

.container-films {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-films > div > a > img:hover {
    opacity: 0.5;
}

.p-cat-legend {
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}



#compra-botao-2 > a {
    text-decoration: none;
    display: block;
    color: white;
}

#compra-botao-2 > a:hover {
    color: orangered;
}


#compra-botao-2 {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0f0f0f;
}




/*---------------------------- SOMENTE PAG SOBRE NÓS ------------------------*/

.name-CEO {
    color: white;
    font-size: 17px;
    margin-bottom: 5px;
}

.sub-name {
    color: rgba(255, 255, 255, 0.548);
}

.h1-sobre {
    text-align: center;
}





/*---------------------------------------------- MEDIA QUERY -----------------------------------------------------------------*/


/*----------------CELULAR-----------------------------------*/
@media (max-width: 799px) {
/*------------------ HEADER GERAL ------------------------*/
    .hamburger {
        display: block;
        z-index: 1;
    }   

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #0f0f0f;
        clip-path: circle(70px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
}

    .nav-list a {
        color: orangered;
        font-size: 24px;
        opacity: 0;
}

    .nav-list a:hover {
        color: white;
} 

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
}

    .nav.active .nav-list a {
        opacity: 11;
}

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
}

    .nav.active .hamburger::before {
        transform: rotate(135deg);
}

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
}

/*---------------- FOOTER GERAL ------------------*/
.footerContainer {
    width: 81vw;
}

.footerNav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.footerNav ul li{
    width:100%;
    text-align: center;
    margin: 10px;
}
.socialIcons a{
    padding: 8px;
    margin: 4px;
}


/*------------ PAG HOME ------------------*/


/*------------ PAG COMPRA ----------------*/
.iframegeral {
    height: 810px;
}
.section-cat{
    border: none;
}


/*----------- PAG CAT-FILMS --------------*/
.div-father-asides-cat-films {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}

.link-voltar-cat {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.548);
}

.link-voltar-cat:hover {
    color: orangered;
}

.p-voltar-cat {
    margin-left: 10px;
}

.title-films {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.div-aside-cat-films {
    margin-left: 50px;
    text-align: justify;
}

.p-legend-div-aside-cat-films {
    color: rgba(255, 255, 255, 0.548);
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.p-descrição-div-aside-cat-films-1 {
    color: white;
    font-size: 19px;
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.p-descrição-div-aside-cat-films-2 {
    color: white;
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3{
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3 > a {
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
}

.p-descrição-div-aside-cat-films-3 > a:hover {
    padding: 5px;
    background-color: orangered;
    color: white;
}

/*---------------------------- SOMENTE PAG SOBRE NÓS ------------------------*/
.div-2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.div-imageCeo {
    margin: 10px;
}


}


/*------------------ TABLET E DESKTOP--------------------------*/
@media screen and (min-width: 800px) and (max-width: 1200px){
/*Pág Compra*/
    .section-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }

    .section-cat{
        padding: 3px;
        display: block;
        margin: auto;
        text-align: center;
        width: 600px;
    }

    .container-cat > h1{
        font-size: 2.2em;
    }

    .iframegeral {
        margin-top: 30px;
        height: 500px;
}

    .main-iframe {
        height: auto;
    }


/*--Footer--*/
    .footerContainer {
        width: 90vw;
}

    footer .input-footer {
        width: 100px;
    }

    footer .button-footer {
        width: 100px;
    }

    .div-father-asides-cat-films {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}

.link-voltar-cat {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.548);
}

.link-voltar-cat:hover {
    color: orangered;
}

.p-voltar-cat {
    margin-left: 10px;
}

.title-films {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.div-aside-cat-films {
    margin-left: 50px;
    text-align: justify;
}

.p-legend-div-aside-cat-films {
    color: rgba(255, 255, 255, 0.548);
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.p-descrição-div-aside-cat-films-1 {
    color: white;
    font-size: 19px;
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.p-descrição-div-aside-cat-films-2 {
    color: white;
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3{
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3 > a {
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
}

.p-descrição-div-aside-cat-films-3 > a:hover {
    padding: 5px;
    background-color: orangered;
    color: white;
}

.div-father-asides-cat-films {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}

.link-voltar-cat {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.548);
}

.link-voltar-cat:hover {
    color: orangered;
}

.p-voltar-cat {
    margin-left: 10px;
}

.title-films {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.div-aside-cat-films {
    margin-left: 50px;
    text-align: justify;
}

.p-legend-div-aside-cat-films {
    color: rgba(255, 255, 255, 0.548);
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.p-descrição-div-aside-cat-films-1 {
    color: white;
    font-size: 19px;
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.p-descrição-div-aside-cat-films-2 {
    color: white;
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3{
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3 > a {
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
}

.p-descrição-div-aside-cat-films-3 > a:hover {
    padding: 5px;
    background-color: orangered;
    color: white;
}


/*---------------------------- SOMENTE PAG SOBRE NÓS ------------------------*/
.div-2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.div-imageCeo {
    margin: 10px;
}


}


/*------------------Telas Grandes--------------------------*/
@media screen  and (min-width: 1201px) and (max-width: 8000px)  {
    .section-frame {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .section-cat{
        padding: 3px;
        display: block;
        margin: auto;
        text-align: center;
        width: 800px;
    }

    .container-cat > h1{
        font-size: 2.5em;
    }

    .iframegeral {
        margin-top: 50px;
        height: 300px;
}

/*--Footer--*/
    .footerContainer {
        width: 93vw;
}


/*--PAG CATÁLOGO--*/

/*---------------------------------------- SOMENTE PAG FILMES - CATÁLOGO -----------------------------*/
.div-father-asides-cat-films {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 50px;
}

/*------- !!!!!!!PRECISO DE AJUDA PARA AJUSTAR O LINK DA PAG DE FILMES!!!!!!!! --------
--------- !!!!!!!PRECISO DE AJUDA COM O IFRAME CENTRALIZADO!!!!!!! --------------------*/

.link-voltar-cat {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.548);
}

.link-voltar-cat:hover {
    color: orangered;
}

.p-voltar-cat {
    margin-left: 10px;
}


.title-films {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.div-aside-cat-films {
    margin-left: 50px;
    border-left: 1px white solid;
    text-align: justify;
}

.p-legend-div-aside-cat-films {
    color: rgba(255, 255, 255, 0.548);
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 15px;
}

.p-descrição-div-aside-cat-films-1 {
    color: white;
    font-size: 19px;
    margin: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.p-descrição-div-aside-cat-films-2 {
    color: white;
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3{
    margin: 50px;
    margin-left: 10px;
    font-size: 19px;
}

.p-descrição-div-aside-cat-films-3 > a {
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;
}

.p-descrição-div-aside-cat-films-3 > a:hover {
    padding: 5px;
    background-color: orangered;
    color: white;

}

/*---------------------------- SOMENTE PAG SOBRE NÓS ------------------------*/

.div-2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.div-imageCeo {
    margin: 10px;
}



}
